# Google Sheets
GOOGLE_SHEET_ID=
GOOGLE_APPLICATION_CREDENTIALS=data/credentials.json

# AI API Keys
OPENAI_API_KEY=
GOOGLE_API_KEY=

# Optional
JINA_API_KEY=

# FastAPI config (http://localhost:PORT)
PORT=xxxx
DEBUG=True
